*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* Primary */
  --green-200: hsl(148, 38%, 91%);
  --green-600: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --grey-500: hsl(186, 15%, 59%);
  --grey-900: hsl(187, 24%, 22%);
}

body {
  font-size: 16px;
  font-family: 'Karla', sans-serif;
  background-color: var(--green-200);
  color: var(--grey-900);
}

main {
  width: 90%;
  margin: 30px auto;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
}

.successMessageContainer {
  display: none;
  margin: auto;
  margin-top: 30px;
  margin-bottom: -30px;
  background-color: var(--grey-900);
  border-radius: 5px;
  color: var(--green-200);
  width: 100%;
  max-width: 370px;
  padding: 15px;
}

.successHeadingContainer {
  display: flex;
  margin-bottom: 10px;
  font-weight: 700;
}

.successHeading {
  margin-left: 10px;
}

.successMessage {
  font-size: 0.8rem;
}

h1 {
  margin-bottom: 25px;
  font-weight: 700;
}

.firstNameContainer,
.LastNameContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.queryTypeContainer,
.emailContainer,
.messageContainer,
.buttonContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  margin-bottom: 15px;
}

.option {
  margin-bottom: 0px;
  padding: 5px;
}

input,
textarea {
  font-size: 1.1rem;
  color: var(--grey-900);
  padding: 15px;
  border-radius: 5px;
  border: 1px solid var(--grey-900);
}

input:hover,
textarea:hover {
  border: 2px solid var(--green-600);
  cursor: pointer;
}

.queryTypes {
  display: flex;
  flex-direction: column;
}

.generalEnquiryContainer,
.supportRequestContainer {
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.generalEnquiryContainer:hover,
.supportRequestContainer:hover {
  border: 2px solid var(--green-600);
  background-color: var(--green-200);
  cursor: pointer;
}

.radio-input {
  margin-left: 15px;
  border: 2px solid var(--green-600);
  background-color: var(--green-200);
}

.radio-input,
.checkbox-input {
  margin-right: 15px;
  width: 20px;
  height: 40px;
  cursor: pointer;
}

.radio-input {
  border: 2px solid var(--green-600);
  background-color: var(--green-200);
}

.consentErrorContainer {
  display: flex;
  flex-direction: column;

  margin: 30px 0px;
}
.consentContainer {
  display: flex;
  align-items: center;
}

.consent {
  margin-bottom: 0px;
  line-height: 1.5rem;
  padding-right: 30px;
  cursor: pointer;
}

button {
  height: 60px;
  width: 100%;
  border-radius: 5px;
  border: none;
  letter-spacing: 0.2rem;
  color: var(--white);
  font-weight: 700;
  background-color: var(--green-600);
  margin-bottom: 10px;
}

button:hover {
  background-color: hsl(169, 84%, 17%);
  transform: scale(1.01);
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.errorBorder {
  border: 2px solid var(--red);
}

.error {
  color: var(--red);
}

@media screen and (min-width: 570px) {
  main {
    width: 80%;
    max-width: 650px;
    padding: 40px;
  }

  .firstNameContainer,
  .LastNameContainer,
  .generalEnquiryContainer,
  .supportRequestContainer {
    width: 48%;
  }

  .firstNameContainer,
  .generalEnquiryContainer {
    margin-right: 15px;
  }

  .nameContainer,
  .queryTypes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  textarea {
    height: 150px;
  }
}
