*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* Primary */
  --green-200: hsl(148, 38%, 91%);
  --green-600: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --grey-500: hsl(186, 15%, 59%);
  --grey-900: hsl(187, 24%, 22%);
}

body {
  font-size: 16px;
  font-family: 'Karla', sans-serif;
  background-color: var(--green-200);
  color: var(--grey-900);
}

main {
  width: 90%;
  margin: 30px auto;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
}

h1 {
  margin-bottom: 25px;
  font-weight: 700;
}

.firstNameContainer,
.LastNameContainer {
  /* border: 5px solid blue; */
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.queryTypeContainer,
.emailContainer,
.messageContainer,
.buttonContainer {
  /* border: 5px solid blue; */
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  margin-bottom: 15px;
}

.option {
  margin-bottom: 0px;
  padding: 5px;
}

input,
textarea {
  font-size: 1.2rem;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid var(--grey-900);
}

.queryTypes {
  display: flex;
  flex-direction: column;
}

.generalEnquiryContainer,
.supportRequestContainer {
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.radio-input {
  margin-left: 15px;
}

.radio-input,
.checkbox-input {
  margin-right: 15px;
  width: 20px;
  height: 40px;
  cursor: pointer;
}

.consentContainer {
  /* border: 5px solid blue; */
  margin: 30px 0px;
  display: flex;
}
.consent {
  margin-bottom: 0px;
  line-height: 1.5rem;
  padding-right: 30px;
}

button {
  height: 60px;
  width: 100%;
  border-radius: 5px;
  border: none;
  letter-spacing: 0.2rem;
  color: var(--white);
  font-weight: 700;
  background-color: var(--green-600);
  margin-bottom: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
